*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #222;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: rgb(150, 142, 142);
}

.logo {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.btn-primary{
  background-color: #000000;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover{
  transform: scale(1.1);
  transition: 0.1s ease-out;
}

.large {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 16px;
}

/* BANNER */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  background: #d8e7ef;
  background-image: url('https://cdn.arstechnica.net/wp-content/uploads/2023/06/IMG_1134.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-left h1 {
  font-size: 40px;
  line-height: 1.3;
  color: white;
}

/* SHOWCASE */
.designs{
  text-align: center;
  padding: 80px 10%;
  background: white;
}

.designs h2{
  font-size: 28px;
  margin-bottom: 40px;
}

.designs span{
  text-decoration: underline;
  text-decoration-color: #39439d;
  text-underline-offset: 5px;
}

.span:hover{
  transform: scale(1.03);
  transition: transform 0.2s ease;
  transform-origin: left bottom;
}

.design-grid{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.card{
  width: 250px;
  height: 350px;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
  transform-origin: left bottom;
}

.card img:hover{
  transform: scale(1.03);
}

.explore {
  padding: 15px 40px;
}

